@import './vars.scss';

.contact-list {
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.3;
    li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 500;
        .text-number {
            width: 150px;
            margin-left: 5px;
        }
        .text-name {
            width: 200px;
        }

        .btn-delete {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            opacity: 0.7;
            &::after {
                content: '\2716';
            }
            &:hover {
                color: red;
                opacity: 1;
            }
        }
    }
}
