@import './vars.scss';

.logout-button {
    display: block;
    // margin-right: auto;
    margin-left: auto;
    border: 2px solid $accentColor;
    padding: 5px 10px;
    opacity: 0.5;
    &:hover {
        color: white;
        background-color: $accentColor;
        opacity: 1;
    }
}
.avatar-img {
    position: absolute;
    top: 10px;
}
.avatar-container {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
}
